%h1= project.name

%section.col-md-8

  %section
    = best_in_place project, :description, type: :textarea



  %section
    %h1 People
    = memberships

  %section
    %h1 Skills
    = skills_list

%aside.col-md-4

  %section
    %h1 Add to project
    = new_membership_form

  %section
    %h1 Add skills
    = skills_adder

