.col-md-12
  %h1= project.name

.col-md-8
  = best_in_place project, :description, type: :textarea
  = memberships
  = skills_list


%aside.col-md-4

  %h1 Add to project
  = new_membership_form

  %h1 Add skills
  = skills_adder

