.col-md-12
  %h1= project.name

  .panel
    %table.details
      %tr
        %th Description
        %td= best_in_place project, :description, type: :textarea, nil: '…'

  .panel
    = memberships
    = new_membership_form

  .panel
    = skills_list
    = skills_adder





