.col-md-12
  %h1= person.name

.col-md-8
  = best_in_place person, :description, type: :textarea, path: "/people/#{person.id}"
  = memberships
  = skills_list
  = motivations_list


%aside.col-md-4
  %table
    %tr
      %th Email
      %td= person.email

  %h1 Add to project
  = new_membership_form

  %h1 Add skills
  = skills_adder

  %h1 Add motivations
  = motivations_adder
