.col-md-12
  %h1
    = person.name
    %small (#{ person.first_name } #{ person.last_name })

  .panel
    %table.details
      %tr
        %th Description
        %td= best_in_place person, :description, type: :textarea, path: "/people/#{person.id}", nil: '…'
      %tr
        %th Email
        %td= person.email

  .panel
    = memberships
    = new_membership_form

  .panel
    = skills_list
    = skills_adder

  .panel
    = motivations_list
    = motivations_adder



