.col-md-12
  %h1= person.name

.col-md-8
  = best_in_place person, :description, type: :textarea, path: "/people/#{person.id}", nil: '…'
  = memberships
  = skills_list
  = motivations_list


%aside.col-md-4
  %table
    %tr
      %th Email
      %td= person.email

  %p= new_membership_form
  %p= skills_adder
  %p= motivations_adder
