.col-md-12
  %menu= actions_menu
  %h1
    = person.name
    %small (#{ person.first_name } #{ person.last_name })

  %p= person.email
  .panel
    .row
      .col-md-4
        %table.details
          %tr
            %th Firstname
            %td= best_in_place person, :first_name,  path: "/people/#{person.id}", nil: '…'
          %tr
            %th Last name
            %td= best_in_place person, :last_name,  path: "/people/#{person.id}", nil: '…'
          %tr
            %th Display name
            %td= best_in_place person, :display_name,  path: "/people/#{person.id}", nil: '…'
          %tr
            %th Trigram
            %td= best_in_place person, :trigram,  path: "/people/#{person.id}", nil: '…'
      .col-md-8
        %table.details
          %tr
            %th Description
            %td= best_in_place person, :description, type: :textarea, path: "/people/#{person.id}", nil: '…'

  .panel
    = memberships
    = new_membership_form

  .panel
    = skills_list
    = skills_adder

  .panel
    = motivations_list
    = motivations_adder



