<div ng-app="NewsApp">
  <div ng-controller="NewsItemsCtrl">

    <div class="row">


      <div class="col-xs-8">
        <div class="panel panel-default">
          <div class="panel-body" data-purpose="news_items-list">

            <div ng-repeat="news_item in news_items | orderBy:'created_at':true">
                  <div class="row news_item">
                    <div class="col-md-2">
                      <div><small>{{ news_item.created_at | date }}</small></div>
                      <div>By <a href="">Ludo</a> </div>
                      <div>
                        <button type="button" class="btn btn-default btn-xs" ng-click="editItem(news_item)" data-purpose="update-action">
                          <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-xs" ng-click="destroyItem(news_item)" data-purpose="delete-action">
                          <i class="glyphicon glyphicon-remove"></i>
                        </button>
                      </div>
                    </div>
                    <div class="col-md-4"  btf-markdown="news_item.summary"></div>
                    <div class="col-md-4"  btf-markdown="news_item.body"   ></div>
                    <div class="col-md-2">
                      <div class="language"><small>[{{news_item.language}}]</small></div>
                      <small>
                      <a href="#">tag1</a>,
                      <a href="#">tag2</a>,
                      <a href="#">tag3</a>,
                      <a href="#">tag4</a>,
                      <a href="#">tag5</a>
                      </small>
                    </div>
                  </div>
                  <hr />
            </div>

          </div>
        </div>
      </div>



      <div class="col-xs-4 col-xs-offset-8"  style="position: fixed">
        <div class="panel panel-default">
          <div class="panel-body">


            <form ng-model="news_item" ng-submit="mode != 'edit' && addItem(news_item) || saveItem(news_item)" data-purpose="news_item-form">
                <%= simple_fields_for News::Item.new,
                      html: {
                       'ng-model' => "news_item",
                       'ng-submit' => "mode != 'edit' && addItem(news_item) || saveItem(news_item)"
                      } do |f|
                %>
                  <%= f.input :language, collection: News::Item::LANGUAGES, input_html: { 'ng-model' => 'news_item.language' }  %>
                  <%= f.input :summary, input_html: { rows: 5, style: 'width: 100%' , 'ng-model' => 'news_item.summary' }  %>
                  <%= f.input :body   , input_html: { rows: 9, style: 'width: 100%' , 'ng-model' => 'news_item.body', placeholder: 'News body and / or link(s)' }  %>
                  <%= f.button :submit, 'Add' , 'ng-show' => "mode == 'add'  " %>
                  <%= f.button :submit, 'Save', 'ng-show' => "mode == 'edit' " %>
                <% end %>
            </form>


          </div>
        </div>
      </div>



    </div>

  </div>
</div>
