- random_value = (rand * 10000).to_i
= simple_form_for(Tagging.new, html: { id: "add_#{ tag_field }", data: { purpose: "#{tag_field}-adder" } }) do |f|
  = f.hidden_field :taggable_id, value: taggable.id
  = f.hidden_field :taggable_type, value: taggable.class
  = f.hidden_field :tag_field, value: tag_field
  = f.input_field 'tagging[tag_list]', label: tag_field.capitalize, as: :fake, id: "tagging_tag_list#{ random_value }"
  = f.button :submit, value: 'Add'

:javascript
  $("#tagging_tag_list#{ random_value }").select2({
    tags: true,
    multiple: true,
    placeholder: "Add #{ tag_field }",
    minimumInputLength: 2,
    width: 'resolve' ,
    ajax: {
      url: "/tags/autocomplete/results.json",
      dataType: 'json',
      data: function (term, page) {
        return {
          q: term,
          page_limit: 10,
        };
      },
      results: function(data, page) {
        return {
          results: $.map( data, function(tag, i) {
            return { id: tag.id, text: tag.name }
          } )
        }
      }
    },
    createSearchChoice: function (term) {
        var text = term;
        return { id: term, text: text };
    },
  }) ;
