%p
  &nbsp;
%p
  = link_to(params.merge(format: "xls"),  class:  'btn btn-default btn-primary' ) do
    %i{ class: 'glyphicon glyphicon-download' }
    &nbsp; XLS
.panel.panel-default
  .panel-body
    %table.table{ data: { purpose: "forecasts-list" } }
      %caption
        Forecasts

      %thead
        %tr
          %th Person
          %th Project
          - @forecast.periods.each do |p|
            %th= p.starts_at

      %tbody

        - @people.each do |p|

          - if p.memberships.none?
            %tr

              %td.person
                = link_to (p.trigram || p.name), p

              %td.project
              - @forecast.periods.each do |period|
                %td.period


          - p.memberships.each do |m|
            %tr[m]

              %td.person
                = link_to (p.trigram || p.name), p

              %td.project= link_to m.project, m.project
              - @forecast.periods.each do |period|
                %td.period
                  - period.membership_occupations(m).each do |o|
                    %p.occupation= o

