.col-md-12
  %menu= actions_menu
  %h1= tag.name

  .panel
    %table.details
      %tr
        %th Name
        %td= best_in_place tag, :name,  path: "/tags/#{tag.id}", nil: '…'

      %tr
        %th Description
        %td= best_in_place tag, :description, type: :textarea, path: "/tags/#{tag.id}", nil: '…'

  = taggables


